@page
@model XMLProjectIS.Pages.FavouriteTitleModel
@{
    var movies = (IList<XMLProjectIS.Movie>)ViewData["MovieList"];
}


<body>
    <div margin="auto">
        <h1> Let us know your reviews!!  </h1></ br>
        <form method="post">
            <input type="text" class=" form-control mr-sm-2 col-sm-6" name="FirstName" placeholder="First Name" size="40" /><br />
            <input type="text" class=" form-control mr-sm-2 col-sm-6" name="LastName" placeholder="Last Name" size="40" /><br />
            <input type="text" class=" form-control mr-sm-2 col-sm-6" name="MoviesTVs" placeholder="Favorite Movies/ TV Shows" size="40" /><br />
            <input type="text" class=" form-control mr-sm-2 col-sm-6" name="Comments" placeholder="Comments" size="100" /><br />
            <input id="Button1" type="submit" class="w3-btn w3-blue-grey" value="Submit" />
        </form>
    </div>
    <div>
        <hr />
        <table class="table table-striped table-light">
            <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Favourite Movies/ TV Shows</th>
            <th>Comments</th>
            </tr>
            @{ foreach (XMLProjectIS.Movie movie in movies)
                {
                    <tr>
                        <td>@movie.FirstName</td>
                        <td>@movie.LastName</td>
                        <td>@movie.MoviesTVs</td>
                        <td>@movie.Comments</td>
                    </tr>
                } 
             }
        </table>
    </div>

</body>
