@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var welcomes = (QuickType.Welcome[])ViewData["Welcome"];
}



<div class="text-center">
    <h1 class="display-4">Movies</h1>
</div>



<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Year</th>
        </tr>
    </thead>
    <tbody>
        @foreach (QuickType.Welcome welcome in welcomes)
        {
            <tr>
                <td>@welcome.Title</td>
                <td>@welcome.Year</td>
            </tr>
        }

    </tbody>
</table>
