@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    MovieDetails.Item[] moviesDetails = (MovieDetails.Item[])ViewData["MovieDetails"];
}
<head>
   <link rel="stylesheet" href="~/css/StyleSheet.css">
    </head>


<div class="text-center">
    <h1 class="display-4">Movies</h1>
</div>

<input id="Text1" type="text" class="searchTxt" />

<hr />

<div class="movieContainer">
    @foreach (MovieDetails.Item movie in moviesDetails)
    {
        <div class="movieCard">
            <div>
                <img src="@movie.Image" class="movieImg" alt="Img Not Found" />
            </div>
            <div class="movieTitle">
                <label>@movie.Title</label>
                <label>@movie.Year</label>
            </div>
            <div class="movieTitle">
                <label>IMDB Rating:-</label>
                <label>@movie.ImDbRating</label>
            </div>
        </div>
    }
</div>
    


  