@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    MovieDetails.Item[] movies = (MovieDetails.Item[])ViewData["MovieDetails"];
}


<div class="text-center">
    <h1 class="display-4">Movies</h1>
</div>

<input id="Text1" type="text" class="searchTxt" />

<hr />

<div class="movieContainer">
    @foreach (MovieDetails.Item movie in movies)
    {
        <div class="movieCard">
            <div>
                <img src="@movie.Image" class="movieImg" alt="Img Not Found" />
            </div>
            <div class="movieTitle">
                <h6>@movie.Title</h6>
                <h6>@movie.Year</h6>
            </div>
            <div class="movieTitle">
                <label>IMDB Rating:-</label>
                <label>@movie.ImDbRating</label>
            </div>
        </div>
    }
</div>


   
