@page
@model XMLProjectIS.Pages.Movies_detailModel
@{

    MovieDetails.Item[] movies = (MovieDetails.Item[])ViewData["MovieDetails"];

}

<head>
    <link rel="stylesheet" href="/css/StyleSheet.css" type="text/css" />
</head>


<body>

    <div class="text-center">
        <h1 class="display-4">Movies</h1>
    </div>


    <div class="movieContainer">
        @foreach (MovieDetails.Item movie in movies)
        {


            <div class="movieCard">
                <div>
                    <img src="@movie.Image" class="movieImg" alt="Img Not Found" />
                </div>
                <div class="movieTitle">
                    <a asp-page="./Details" asp-route-id="@movie.Id">
                        <strong><label>@movie.Title</label></strong>
                    </a>
                </div>
                <div class="movieTitle">
                    <label>IMDB Rating:-</label>
                    <label>@movie.ImDbRating</label>
                </div>
            </div>
        }
    </div>

</body>